## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Rikitea,PF,78.76,moderate rain,-23.12,-134.97,Pension Maro'i
1,9,Souillac,MU,80.60,light rain,-20.52,57.52,Bils' Villa
2,16,Saint-Pierre,RE,84.99,clear sky,-21.34,55.48,Lindsey Hôtel
3,18,Cap Malheureux,MU,82.99,scattered clouds,-19.98,57.61,Pereybere Hotel & Spa
4,27,Bathsheba,BB,77.00,scattered clouds,13.22,-59.52,Atlantis Hotel

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>

</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Bambanglipuro"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Bambanglipuro"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Jatiroto"] 
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Boyolangu"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Gondanglegi"] 
   
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,58,Bambanglipuro,ID,81.66,overcast clouds,-7.95,110.28,Puri Brata

In [79]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]

end = vacation_end[["Lat","Lng"]].to_numpy()[0] 
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]
start

array([ -7.95, 110.28])

In [91]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".



fig = gmaps.figure()
start2stop1 = gmaps.directions_layer(start, end, waypoints = [stop1,stop2,stop3], travel_mode = "DRIVING")
fig.add_layer(start2stop1)
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,58,Bambanglipuro,ID,81.66,overcast clouds,-7.95,110.28,Puri Brata
1,409,Labuhan,ID,82.42,light rain,-6.88,112.21,bador sepret
2,418,Boyolangu,ID,80.78,overcast clouds,-8.12,111.89,Yos ega cv
3,444,Gondanglegi,ID,79.45,light rain,-7.75,112.01,Gg. Munasir Homestay

In [93]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [106]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(-8, 110.0), zoom_level=6.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))